<h1>About</h1>

This page allows you to create a person League between you and your friends that
play League of Legends. Each player in the league is rewarded points for winning
ranked games, and loses points for losing ranked games. (Your points cannot fall
below 0 however). Simply create a League name and enter your summoner names to
start competing with your friends.
